# HTTP VHOST: {{ item.server_name }}
server {
    listen 80;
    listen [::]:80 ipv6only=on;
    server_name {{ item.server_name }} {% for alias in item.server_aliases %} {{ alias }} {% if item.generate_www_aliases  %} www.{{ alias }} {% endif %}{% endfor %};
    
    # Strict Transport Security
    add_header Strict-Transport-Security max-age=2592000;

    # Redirect 301 to HTTPS
    return 301 https://$server_name$request_uri;

    # log files
    access_log  /var/log/nginx/{{ item.file_name }}.access.log;
    error_log   /var/log/nginx/{{ item.file_name }}.error.log;
}

# HTTPS VHOST: {{ item.server_name }}
server {
    listen 443 ssl;
    listen [::]:443 ipv6only=on;
    server_name {{ item.server_name }} {% for item in item.server_aliases %} {{ item }} {% endfor %};

    ssl on;
    ssl_ciphers ALL:!ADH:!EXPORT56:RC4+RSA:+HIGH:+MEDIUM:+LOW:+SSLv3:+EXP;
    ssl_protocols SSLv3 TLSv1;
    ssl_prefer_server_ciphers on;
    ssl_certificate {{ ssl_certificate }};
    ssl_certificate_key {{ ssl_certificate_key }};

    # Specifies the maximum accepted body size of a client request,
    # as indicated by the request header Content-Length.
    client_max_body_size    200m;

    # add ssl specific settings
    keepalive_timeout   60;

    # increase proxy buffer to handle some Odoo web requests
    proxy_buffers   16 64k;
    proxy_buffer_size   128k;
    

    location / {
        proxy_pass          {{ item.backend }};
        
        # Force timeouts if the backend dies
        proxy_next_upstream error timeout invalid_header http_500 http_502 http_503 http_504;
        
        # By default, do not forward anything
        proxy_redirect off;

        # set headers
        proxy_set_header    Host            $host;
        proxy_set_header    X-Real-IP       $remote_addr;
        proxy_set_header    X-Forwarded-For $proxy_add_x_forwarded_for;
        # Let the Odoo web service know that we're using HTTPS, otherwise
        # it will generate URL using http:// and not https://
        proxy_set_header    X-Forwarded-Proto https;

        # Set timeouts
        proxy_connect_timeout   3600;
        proxy_send_timeout      3600;
        proxy_read_timeout      3600;
        send_timeout            3600;

    }

    # Cache some static data in memory for 60mins
    # under heavy load this should relieve stress on the Odoo web interface a bit.
    location ~* /[0-9a-zA-Z_]*/static/ {
        proxy_cache_valid 200 60m;
        proxy_buffering on;
        expires 864000;
        proxy_pass {{ item.backend }};
    }
    # log files
    access_log  /var/log/nginx/{{ item.file_name }}.access.log;
    error_log   /var/log/nginx/{{ item.file_name }}.error.log;
}